:root
{
  
  --maroon: #6f0a3c;
    --yellow: #fea324;
    --pink: #ae3d74;
    --orange : #fe6619;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE ;
    --pinkCard: #f5d3e3;
    --purple: #eed2ff;
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: #8b0402;
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}

.button {
    background: linear-gradient(180deg, #6f0a3c  26.71%, #ae3d74 99.36%);
    box-shadow: 0px 10px 10px 3px #edbbd3;
    border-radius: 34px;
    border: none;
    color: white; 
    font-size: 14px;
    padding: 10px 25px 10px 25px;
  }
  
  .button:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--maroon);
    color: var(--maroon);
  }
  @media screen and (max-width: 480px) {
    .App {
      padding: 0.5rem 1rem;

    }
  }

  

  